@use './base/reset';
@use './base/utilities';
@use './base/variables';
@use './vendors/bootstrap/scss/bootstrap.scss';
@use './layouts/main-layout.scss';
@use './layouts/account-layout.scss';
@use './components/header.scss';
@use './components/hero.scss';
@use './pages/listings.scss';
@use './pages/show-status.scss';
@use './pages/auth.scss';
@use './pages/single-listing.scss';

.error-sub-text {
  color: red;
  font-size: 0.8rem;
  padding: 10px 0;
}